#create svg path for raw track location data
#example:
#node generateTrackPath.js maps/raw/saudiarabia.json

#replace the path d in index.html with the new one

/maps
findTrackBounds.js
generateTrackPath.js
generateSvgPath.js
normalizeTrack.js